:root {
    --primary: #FFEBCD;
    --dark: #153243;
    --light: #284B63;
    --accent: #994636;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}


*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {

    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Lora;
    font-size: 14px;
    background-color: #fafafa;
}



input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;

}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ====================== UTILITY CONTAINERS ============================ */


._container {
    max-width: 1064px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wrapper {
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


/* ====================== HEADER ============================ */

.chat__header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 60px;
    background-color: var(--primary);


}

.chat__header_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1064px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
    margin: auto;
}

.chat__header__logo {
    margin: 0 10px 0 0;
}

.chat__header__title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

}

/* ====================== CHAT ============================ */

.chat {
    width: 100%;
    background-color: var(--dark);
}



.chat__body {
    height: 500px;
    width: 100%;
}

.chat__box {
    background-color: var(--light);
    border-radius: 20px;
    width: 100%;
    height: 500px;
    padding: 20px;
    display: flex;
    gap: 20px;
    overflow: auto;
    flex-direction: column;
}

.msg-box {
    display: flex;
    background-color: var(--primary);
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    flex-direction: row-reverse;
}

.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}

.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.messages {
    flex: 1 0 auto;
}

.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    margin: 0 0 4px 0;
}

.timestamp {
    color: rgba(0, 0, 0, .38);
    font-size: 8pt;
    margin-bottom: 10px;
}

.username {
    margin-right: 3px;
}

.posttime {
    margin-left: 3px;
}

.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: var(--accent);
    color: #fff;
    float: right;
    flex-direction: row;
}

.msg-self .user-img {
    margin: 0 0 10px 10px;
}

.msg-self .msg {
    text-align: right;
}

.msg-self .timestamp {
    text-align: right;
    color: #fff;
}





/* ====================== INPUT ============================ */
.chat__input {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    outline: none;
    background-color: var(--primary);
}

.button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: -40px;
    background-color: var(--primary);
}

#user_id {
    background-color: #FFEBCD;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    font-size: 18px;
    outline: none;
    width: 100%;
    height: 40px;

}
